
mixin formElem (title, value, needsForm )
    //-div.row
    
    li.list-group-item
        if needsForm
            form.form-horizontal(role="form")
                div.form-group
                    div(class="#{ classLabel }")
                        label.control-label #{ title } &nbsp;
                        if debug
                            span.badge.alert-info(ng-bind=value)
                    if block
                        div(class="#{ classForm }")
                            block
        else
            div.form-horizontal(role="form")
                div.form-group
                    div(class="#{ classLabel }")
                        label.control-label #{ title } &nbsp;
                        if debug
                            span.badge.alert-info(ng-bind=value)
                    if block
                        div(class="#{ classForm }")
                            block
                

mixin booleanToggle (fnclick, fnactive, title, enableTxt, disableTxt)
    +formElem (title, fnactive)
        div.btn-group.btn-toggle
            button.btn.btn-success(ng-click="#{ fnclick }", ng-class="{ active: !#{ fnactive }, disabled: #{ fnactive } }") #{ enableTxt }
            button.btn.btn-danger(ng-click="#{ fnclick }", ng-class="{ active: #{ fnactive }, disabled: !#{ fnactive } }") #{ disableTxt }
        if block
            p.help-block
                block
                            
mixin timeSet (fnset, curTime, tmpVal, defaultval, title)
    +formElem (title, curTime, true)
        div.input-group
            span.input-group-addon(ng-bind="#{ curTime }")
            input.form-control(placeholder="#{ defaultval }", type="text", ng-model="#{ tmpVal }")
            span.input-group-btn
                button.btn.btn-default(type="submit", ng-click="#{ fnset }") Set
        if block
            p.help-block
                block

mixin singleChoice (fnget, elements, title)
    +formElem (title, fnget)
        div.btn-group(data-toggle="buttons")
            each elem in elements
                label.btn.btn-sm(class="#{ elem.class }", ng-click="#{ elem.fnset }", ng-class="{ active: #{ fnget } == #{ elem.val } }")
                    input(type="radio")
                    | #{ elem.text }
        if block
            p.help-block
                block
                    

mixin incDecVal (fnget, fnset, fninc, fndec, tmpVal, title, defaultval)
    +formElem (title, fnget, true)
        div.input-group
            span.input-group-addon(ng-bind="#{ fnget }")
            if defaultval
                input.form-control(type="text", ng-model="#{ tmpVal }", placeholder="#{ defaultval }")
            else
                input.form-control(type="text", ng-model="#{ tmpVal }")
            div.input-group-btn
                button.btn.btn-default(type="submit", ng-click="#{ fnset }") Set
                button.btn.btn-default(ng-click="#{ fndec }") -1
                button.btn.btn-default(ng-click="#{ fninc }") +1
        if block
            p.help-block
                block